<div id="<%= dom_id tran_detail %>">
  <p>
    <strong>Itemdetails:</strong>
    <%= tran_detail.itemDetails %>
  </p>
  <p>
    <strong>User:</strong>
    <%= tran_detail.author_id %>
  </p>
  <p>
    <strong>Amount:</strong>
    <%= tran_detail.amount %>
  </p>
</div>
