<h1>Editing tran detail</h1>

<%= render "form", tran_detail: @tran_detail %>

<br>

<div>
  <%= link_to "Show this tran detail", @tran_detail %> |
  <%= link_to "Back to tran details", tran_details_path %>
</div>
